<div id="cloudy_bubble" style="display: none; opacity: 0;">
    <div>
        <div id="cloudy_bubble_close">×</div>
        <div id="cloudy_bubble_icon_container" class="pull-left">
            <img id="cloudy_bubble_icon" width="50" height="50"> 
        </div>

        <div class="bubble-text-container">
            <div id="bubble_head_paragraph">
                <h4>Great news: Cloudy is back!</h4>
            </div>
        </div>
    </div>

    <div class="bubble_text_container pull-left">
        <p>
Dear users, we're back! Our deepest apologies for this significant interruption. Last week's change in Gmail's code was particularly disruptive. We do <b>not</b> expect such downtime going forward.
 </p>
        <p>
If you like Cloudy, we would appreciate a mention on your favorite social network or a 5-star rating on the <a href="https://chrome.google.com/webstore/detail/cloudy-for-gmail/fcfnjfpcmnoabmbhponbioedjceaddaa/reviews">Chrome Web Store</a>. Have a wonderful day!
        </p>

    </div>

    <div style="clear: both"></div>
</div>
