<div>
<table cellpadding="0" style="border-collapse:  collapse;">
<tbody>
<tr>

<td>
<span id="filename">02 Shot for Me.mp3  8906K</span>
</td>

<td style="padding: 0 2px;">
<div><div>
<!--div style="border: solid 1px #999;
background: black;
width: 100px;
height: .8em;
padding: 1px;
overflow: hidden;
margin: 1px 0 0 3px;
">
<div id="progbar" style="background: yellowgreen;
height: 100%;
font-size: 0;width: 2%;">
</div>
</div!-->
<img id="download_status_img">
</div></div>
</td>

<td style="padding:  0 2px;">
<span id="downloading_msg" tabindex="2">Downloading from the cloud</span>
</td>
</tr>
</tbody>
</table>
</div>
