<div id="cloudy_bubble" style="display: none; opacity: 0;">
    <div>
        <div id="cloudy_bubble_close">×</div>
        <div id="cloudy_bubble_icon_container" class="pull-left">
            <img id="cloudy_bubble_icon" width="50" height="50"> 
        </div>

        <div class="bubble-text-container">
            <div id="bubble_head_paragraph">
                <h4>Cloudy was momentarily disabled.</h4>
            </div>
        </div>
    </div>

    <div class="bubble_text_container pull-left">
        <p>
Due to recent changes in Gmail, Cloudy is experiencing downtime. Sometimes a change to Gmail requires that we modify our code. </p>
        <p>
We hope to release a fix in the next few days. Until then, we have restored the regular Gmail attachment functionality. We apologize for the inconvenience!
        </p>

    </div>

    <div style="clear: both"></div>
</div>
