            <div class="social-button">
            <div style="width: 107px; height: 25px;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/13eo01h" data-counturl="https://chrome.google.com/webstore/detail/cloudy-for-gmail/fcfnjfpcmnoabmbhponbioedjceaddaa" data-text="Cloudy Makes Attaching Files from the Cloud Into #Gmail Simple" data-hashtags="CloudyforGmail">Tweet</a>
            </div>
            </div>

            <div class="social-button">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fcloudy-for-gmail%2Ffcfnjfpcmnoabmbhponbioedjceaddaa&amp;send=false&amp;layout=button_count&amp;width=107&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=293052794157384" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:107px; height:21px;" allowTransparency="true"></iframe>
            </div>

            <div class="social-button">
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="medium" data-href="https://chrome.google.com/webstore/detail/cloudy-for-gmail/fcfnjfpcmnoabmbhponbioedjceaddaa"></div>
            </div>
            <div class="social-button" style="width:71px;">
                <a data-pin-config="beside" href="https://pinterest.com/pin/create/button/?url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fcloudy-for-gmail%2Ffcfnjfpcmnoabmbhponbioedjceaddaa&media=http%3A%2F%2Fimg202.imageshack.us%2Fimg202%2F2918%2Fcloudyadpinterest7.png&description=Cloudy%3A%20Gmail%20attachments%20from%20the%20cloud!%20Dropbox%2C%20Box%2C%20FB%2C%20Instagram%20and%20many%20more.%20Get%20it%20for%20free%20at%20the%20Chrome%20Web%20Store" data-pin-do="buttonPin" ><img src="https://assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
            </div>
