body {
    padding-bottom: 40px;
    width: 440px !important;
    background-color: #cccccc;
    background-image: url("../images/nasty_fabric.png");
}

h2 {
    font-weight: normal;
}

#cloudy_top_icon {
    position:relative; 
    float:left;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
}

#social-sharing {
    display: table;
    margin: 0px auto 10px;
    padding-top: 40px;
            
    /* Use this when it has a stable
     * implementation: 
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; */
}

#social-sharing-container {
    background: url(../images/cloudy_spreadtheword4.png) no-repeat;
    background-size: 50%;
}

.social-button {
    display: block;
    float: left;
}

hr {
    margin: 0px 0px 20px 0px;
}

#save {
    margin-right: 10px;
    margin-bottom: 20px;
}

#author {
    color: rgb(0, 61, 218);
}

#status {
    margin-bottom: 0px;
    margin-top: 3px;
    padding-right: 14px;
    display: none;
}

#order_services h5 {
    margin-bottom: 0px;
}

.sidebar-nav {
    padding: 9px 0;
}

.connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    height: 22px;
    cursor: pointer;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 220px;
}

.left {
    float:left;
}

ul {
    padding: 0px;
    margin: 0px 20px 0px 0px;
}

